body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.hero {
  background: linear-gradient(to right, #2e7d32, #66bb6a);
  color: white;
  text-align: center;
  padding: 40px;
}

.produk {
  padding: 30px;
  text-align: center;
}

.produk-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
  position: relative;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: orange;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.badge.premium {
  background: gold;
  color: black;
}

.unggulan {
  color: #2e7d32;
  font-size: 14px;
}

button {
  width: 100%;
  background: linear-gradient(to right, #2e7d32, #43a047);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.simulasi {
  background: #e8f5e9;
  padding: 25px;
  margin: 20px;
  border-radius: 15px;
}

.total {
  font-size: 20px;
  font-weight: bold;
}

footer {
  background: #2e7d32;
  color: white;
  text-align: center;
  padding: 20px;
}

/* TOAST */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e7d32;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  display: none;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
}

.close {
  background: #b71c1c;
  margin-top: 10px;
}
